*

!JavaSide/
!JavaSide/**
JavaSide/benreader/target/
JavaSide/benreader/res/**
!JavaSide/benreader/res/
JavaSide/benreader/tts/**
!JavaSide/benreader/tts/
!Javaside/benreader/icons/*

!GettingStarted.benr
!GettingStarted.epub
!CompileBenReader.bat

!LICENSE

!PythonSide/
!PythonSide/**

!.gitignore

!*.md